$primary-color: #5000ff;
$secondary-color: #434343;
$basic-color: #eee;

@mixin set-state-color-properties($color, $properties...) {
    &:hover {
        @each $property in $properties {
            #{$property}: darken($color, 10%);
        }
    }
    &:focus {
        @each $property in $properties {
            #{$property}: darken($color, 15%);
        }
    }
    &:active {
        @each $property in $properties {
            #{$property}: darken($color, 20%);
        }
    }
}

.button {
    appearance: none;
    background-color: $basic-color;
    border-radius: 0.25em;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0.5em 0.75em;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    transition: all 150ms ease;

    outline: 2px solid $basic-color;
    outline-offset: -2px;
    width: 100%;
    margin: 5px;
    line-height: 1;
    height: 2.25em;
    color: black;

    @media screen and (min-width: 560px) {
        display: inline-block;
        width: unset;
        min-width: 6.5em;
    }

    $adjusted-properties: "border-color", "background-color";
    @include set-state-color-properties($basic-color, "border-color", "background-color");

    &:focus {
        outline-color: $primary-color !important;
        outline-offset: -2px;
        box-shadow: 0 0 1px 4px rgba($primary-color, 0.25);
    }
    &:active {
        transform: translate3d(0, 2px, 0);
    }

    &.primary {
        background-color: $primary-color;
        outline-color: $primary-color;
        color: $basic-color;
        @include set-state-color-properties($basic-color, "outline-color", "background-color");
        @include set-state-color-properties($primary-color, "color");
    }
    &.secondary {
        background-color: $secondary-color;
        outline-color: $secondary-color;
        color: $basic-color;
        @include set-state-color-properties($secondary-color, "outline-color", "background-color");
    }
}
