@import "./../configuration/mixins";

.main {
    &__container {
        min-height: calc(100vh - 50px);
        padding: 84px 20px 40px;

        @include mq(tablet) {
            margin: 0 auto;
            max-width: 740px;
        }
    }
}
