@import "./../configuration/variables";

.container {
    align-items: center;
    background-color: $opacity-black-50;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;

    &.small {
        height: 100%;
    }

    &.fixed {
        height: 100vh;
        position: fixed;
    }
}

.loader {
    animation: spin 0.8s linear infinite;
    border-radius: 50%;
    border-top: 2px solid $opacity-white-50;

    &.small {
        height: 20px;
        width: 20px;
    }

    &.fixed {
        height: 120px;
        width: 120px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
