
//COLORS
$bg-color-primary: #98C8B2;
$bg-color-secondary: #161923;

$text-color-primary: #161923;

$shaded-white: #f9f9f9;

$opacity-white-50: rgba(255, 255, 255, 0.5);
$opacity-black-50: rgba(0, 0, 0, 0.5);

$input-background-color: #1e1e1e;
$input-border-color: #3e3e3e;
$input-border-color-active: #808080;
$input-placeholder-color: #a9a9a9;
$input-text-disabled-color: #1e1e1e;
