@import "./configuration/variables";

.signIn {
    max-width: 350px;
    margin: auto;
    background: black;
    padding: 20px;
    border-radius: 5px;

    .label {
        color: $shaded-white !important;
    }

    .anchor {
        color: $shaded-white !important;
    }

    .button {
        color: $text-color-primary !important;
    }

    .message {
        color: $shaded-white !important;
    }
}
